if posts
    each post in posts
        div(class="person-post__header")
            if avatar
                img(class="person-image" src=`${serverUrl}/${avatar}` width="50" height="50")
            else
                img(class="person-image" src=`/uploads/angry-birds.jpg` width="50" height="50")
            div(class="person-ids")
                h3(class="person-post__fullname") #{name} #{surname}
                h3(class="person-post__post-date") #{post.date}
        .line-1px
        if post.image
            img(class="post-image" src=`${serverUrl}/${post.image}`)
        if post.text
            p(class="post-text") #{post.text}
        .line-1px